name: PR Closed
run-name: ${{ github.actor }} is merging to ${{ github.repository }} - ${{ github.ref }}
on:
  pull_request:
    types: [closed]
    branches:
      - prod

jobs:
  on-merge:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: '0'

    - name: Bump Tag
      id: bumptag
      uses: anothrNick/github-tag-action@1.67.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        WITH_V: true
        RELEASE_BRANCHES: prod
        DEFAULT_BRANCH: prod
        
    - name: Release
      uses: softprops/action-gh-release@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        tag_name: ${{ steps.bumptag.outputs.tag }}
        name: "Released ${{ steps.bumptag.outputs.tag }}"
        generate_release_notes: true